{% if section.blocks.size > 0 and section.settings.handle != blank %}
    <div class="megamenu" id="megamenu--{{ section.settings.handle | handleize }}">
        {% assign promotion_count = 0 %}
        {% for block in section.blocks %}
            {% if block.type == 'featured_promotion' %}
                {% assign promotion_count = promotion_count | plus: 1 %}
            {% endif %}
        {% endfor %}
        {% if promotion_count > 0 %}
            {% assign promotion_index = 0 %}
            <div class="mega-menu__promotion mega-menu__wrap {% if promotion_count ==5 %}mega-menu__promotion-2{% endif %}">
                {% for block in section.blocks %}
                    {% if block.type == 'featured_promotion' %}
                        {% if promotion_count == 5 and promotion_index == 0 %}
                            <div class="mega-menu__promotion-left">
                        {% endif %}
                        <div class="mega-menu__promotion-item">
                            {% assign collection = block.settings.collection %}
                            <a href="{{ collection.url }}">
                                <h2 class="mega-menu__heading">
                                    {{ collection.title }}
                                </h2>
                            </a>
                            {% if block.settings.subheading != blank %}
                                <p class="mega-menu__subheading">
                                    {{ block.settings.subheading }}
                                </p>
                            {% endif %}
                            {% if block.settings.image != blank %}
                                {% assign width = block.settings.image.width | plus: 0.0 %}
                                {% assign height = block.settings.image.height | plus: 0.0 %}
                                {% assign st = height | divided_by: width | times: 100 %}
                                <a href="{{ collection.url }}" class="mega-menu__image" style="padding-bottom: {{ st }}%;">
                                    {{ block.settings.image | img_url: '750x' | img_tag }}
                                </a>
                            {% endif %}
                        </div>
                        {% if promotion_count == 5 and promotion_index == 2 %}
                            </div>
                            <div class="mega-menu__promotion-right">
                        {% endif %}
                        {% if promotion_count == 5 and promotion_index == 4 %}
                            </div>
                        {% endif %}
                        {% assign promotion_index = promotion_index | plus: 1 %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="draw-megamenu__content" id="megamenu-drawer--{{ section.settings.handle | handleize }}">
        {% for block in section.blocks %}
            {% if block.type == 'featured_promotion' %}
                <a class="draw-megamenu__link" href="{{ block.settings.collection.url }}">
                    {% if block.settings.subheading != blank %}
                        <p class="draw-megamenu__subheading">{{ block.settings.subheading }}</p>
                    {% endif %}
                    <p class="draw-megamenu__heading">{{ block.settings.collection.title }}</p>
                </a>
            {% endif %}
        {% endfor %}
        {% for block in section.blocks %}
            {% if block.type == 'sub_menu' %}
                {% for link in block.settings.link_list.links %}
                    <a class="draw-megamenu__link" href="{{ link.url }}">
                        <p class="draw-megamenu__heading">{{ link.title }}</p>
                    </a>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% schema %}
{
    "name": "MegaMenu1",
    "class": "header_megamenu",
    "settings": [
        {
            "type": "text",
            "id": "handle",
            "label": "Parent Link"
        }
    ],
    "blocks": [
        {
            "type": "featured_promotion",
            "name": "Featured Promotion",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "SubHeading"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        },
        {
            "type": "single_link",
            "name": "Single Link",
            "settings": [
                {
                    "type": "text",
                    "id": "label",
                    "label": "Label"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        },
        {
            "type": "sub_menu",
            "name": "SubMenu",
            "settings": [
                {
                    "type": "link_list",
                    "id": "submenu",
                    "label": "Submenu"
                },
                {
                    "type": "select",
                    "id": "menu_width",
                    "options": [
                        {
                        "value": "25%",
                        "label": "Small"
                        },
                        {
                        "value": "50%",
                        "label": "Large"
                        }
                    ],
                    "default": "25%",
                    "label": "Menu Width"
                }
            ]
        }
    ]
}
{% endschema %}