<section class="search-bar-section">
    <div class="search-bar-wraper">
        {% if section.settings.heading != blank %}
            <h4 class="title">{{ section.settings.heading }}</h4>
        {% endif %}
        {% if section.settings.btn_label != blank and section.settings.btn_link != blank %}
            <a href="{{ section.settings.btn_link }}" class="link-slder">
                <span class="slider-text-1">
                    {% if section.settings.icon != blank %}
                        {{ section.settings.icon }}
                    {% endif %}
                    {{ section.settings.btn_label }}
                    {% if section.settings.icon2 != blank %}
                        <span class="align-right text-right">{{ section.settings.icon2 }}</span>
                    {% endif %}
                </span>
                <span class="slider-text-2">
                    {% if section.settings.icon != blank %}
                        {{ section.settings.icon }}
                    {% endif %}
                    {{ section.settings.btn_label }}
                    {% if section.settings.icon2 != blank %}
                        <span class="align-right text-right">{{ section.settings.icon2 }}</span>
                    {% endif %}
                </span>
            </a>
        {% endif %}
    </div>
</section>
{% schema %}
{
    "name": "Search Bar",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "btn_label",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Button Link"
        },
        {
            "type": "html",
            "id": "icon",
            "label": "Icon"
        },
        {
            "type": "html",
            "id": "icon2",
            "label": "Icon"
        }
    ],
    "presets": [
        {
            "name": "Search Bar"
        }
    ]
}
{% endschema %}