<div class="video__banner-wraper">
    {% if section.settings.video_id != blank %}
        <div class="video__banner-video small-hide">
            <iframe src="https://player.vimeo.com/video/{{ section.settings.video_id }}?&autoplay=1&loop=1&title=0&byline=0&portrait=0&muted=1&#t=235s" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    {% endif %}
    {% if section.settings.mobile_image != blank %}
        <div class="video__banner-image medium-hide large-up-hide">
            {{ section.settings.mobile_image | img_url: '750x' | img_tag }}
        </div>
    {% endif %}
    {% if section.settings.heading != blank %}
        <div class="video__banner-text-content">
            <h2 class="video__banner-heading small-hide">{{ section.settings.heading }}</h2>
            <h2 class="video__banner-heading medium-hide large-up-hide">{{ section.settings.mobile_heading }}</h2>
            {% if section.settings.button_link != blank and section.settings.button_label != blank %}
                <a href="{{ section.settings.button_link }}" class="btn btn--outline link-slider">
                    <span class="slider-text-1">{{ section.settings.button_label }}</span>
                    <span class="slider-text-2">{{ section.settings.button_label }}</span>
                </a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% schema %}
{
    "name": "Video banner",
    "class": "video-banner",
    "settings": [
        {
            "type": "text",
            "id": "video_id",
            "label": "Video ID"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "mobile_heading",
            "label": "Mobile Heading"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],
    "presets": [
        {
            "name": "Video banner"
        }
    ]
}
{% endschema %}